.landingWrapper {
  background-image: linear-gradient(
    to bottom right,
    rgb(110, 241, 235),
    rgb(161, 73, 212)
  );
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.chooseGender {
  display: flex;
  width: 80%;
  max-width: 600px;
  margin: auto;
  justify-content: space-evenly;
}

.male,
.female {
  width: 45%;
  height: 130px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
  background: rgba(255, 255, 255, 0.3);
  transition: width 0.5s, height 0.5s linear;
  &:hover {
    cursor: pointer;
    width: 50%;
    height: 140px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    .paragraphMale,
    .maleSymbol {
      color: rgb(0, 102, 255);
      font-weight: bold;
    }
    .paragraphFemale,
    .femaleSymbol {
      color: rgb(226, 55, 55);
      font-weight: bold;
    }
  }
}
.maleActive {
  .paragraphMale,
  .maleSymbol {
    color: rgb(0, 102, 255);
    font-weight: bold;
  }
  cursor: pointer;
  width: 50%;
  height: 140px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}
.femaleActive {
  .paragraphFemale,
  .femaleSymbol {
    color: rgb(226, 55, 55);
    font-weight: bold;
  }
  cursor: pointer;
  width: 50%;
  height: 140px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.maleSymbol,
.femaleSymbol {
  font-size: 50px;
}

.inputClass {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(3, 78, 53);
  color: rgb(3, 78, 53);
  height: 21px;
  max-width: 150px;
  font-size: 80%;
  padding: 10px;
  margin-bottom: 10px;
  &:focus {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid rgb(3, 78, 53);
    color: rgb(3, 78, 53);
    height: 21px;
    max-width: 150px;
    font-size: 80%;
  }
  &:hover {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid rgb(3, 78, 53);
    color: rgb(3, 78, 53);
    height: 21px;
    max-width: 150px;
    font-size: 80%;
  }
}
input:focus {
  outline: none;
}

.inputMale {
  color: rgb(35, 35, 236);
  border-bottom: 1px solid rgb(35, 35, 236);
  &:focus {
    color: rgb(35, 35, 236);
    border-bottom: 2px solid rgb(35, 35, 236);
  }
  &:hover {
    color: rgb(35, 35, 236);
    border-bottom: 2px solid rgb(35, 35, 236);
  }
}
.inputFemale {
  color: rgb(226, 55, 55);
  border-bottom: 1px solid rgb(226, 55, 55);
  &:focus {
    color: rgb(226, 55, 55);
    border-bottom: 2px solid rgb(226, 55, 55);
  }
  &:hover {
    color: rgb(226, 55, 55);
    border-bottom: 2px solid rgb(226, 55, 55);
  }
  &:active {
    color: rgb(226, 55, 55);
    border-bottom: 2px solid rgb(226, 55, 55);
  }
}

.inputWrapp {
  border: 1px solid gray;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
  width: 80%;
  margin-top: 5%;
}

.buttonWrapper {
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: 30px;
}

.buttonCalculate {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 10px 8px #888888;
  width: 200px;
  height: 30px;
  &:hover {
    cursor: pointer;
  }
}

.inputResult {
  margin: 20px 0;
  height: 20px;
  border: 1px solid gray;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 5px 10px 8px #888888;
  text-decoration: solid;
  font-weight: bold;
  text-align: center;
}
